* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    
}
.main-nav__item{
    display: inline-block;
}
.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #13a4a4;
}

.main-nav__item a:hover {
    color: blue;
    background-color: rgb(63, 155, 124);
}

.main-nav__item a:active {
    color: red;
}

.main-nav__item a::after {
    content: " | ";
}

p{
    text-align: center;
    background-color: skyblue;
    color: brown;
}